<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>JavaServlet</display-name>
	<context-param>
		<param-name>globalData1</param-name>
		<param-value>123</param-value>
	</context-param>
	<context-param>
		<param-name>globalData2</param-name>
		<param-value>345</param-value>
	</context-param>
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>com.JavaServlet.Servlet.TestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Content</servlet-name>
		<servlet-class>com.JavaServlet.Servlet.ServletContent</servlet-class>
		<init-param>
			<param-name>data1</param-name>
			<param-value>value1</param-value>
		</init-param>
		<init-param>
			<param-name>data2</param-name>
			<param-value>value2</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>ServletforwardExapmle</servlet-name>
		<servlet-class>com.JavaServlet.Servlet.ServletForwardExample</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Servletforward</servlet-name>
		<servlet-class>com.JavaServlet.Servlet.ServletForward</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/servlet/GetPostServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Content</servlet-name>
		<url-pattern>/servlet/Content</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServletforwardExapmle</servlet-name>
		<url-pattern>/forwardExample</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servletforward</servlet-name>
		<url-pattern>/forward</url-pattern>
	</servlet-mapping>

</web-app>